 <h1><%= @user.name %></h1>
<ul>
  <h1>My Reviews</h1>
  <% @user.reviews.each do |review| %>
  <p>
    <h2><%= link_to review.truck.name, truck_path(review.truck) %></h2>
    <br>
    My rating: <%= review.rating  %>
    <br>
    <br>
    <%= review.content %>
  </p>
  <% end %>
  <br>
  <br>
  <br>

</ul>
