<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nomads</title>
  </head>
  <body>
    <h1>Nomads</h1>
    <%= image_tag asset_path("flatdesign.jpg"), class: "centerimage" %>
    <br>
    
    <h2>Source for all your Food Truck Needs</h2>

  </body>
</html>
