  .nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF6E40;
  }
  .nav-bar-items{
    float: left;
    transition: background-color 0.5s;
  }
  .nav-bar-items a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s, transform 0.3s;
  }
  .nav-bar-items a:hover {
    color: #FF6E40;
    transform: scale(1.13);
  }
  .nav-bar-items:hover {
    background-color: white;
  }


  .nav-bar-items a:active {
    background-color: white;
  }

.search {

  /* float: right; */
  float: left;
  padding: 0px 60px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
  text-size: 20px;
  /* width: 200px; */
}
/* .search span {
  display: block;
  overflow: hidden;
   padding: 0 4px 0 0;
}

 .search span input {
   width: 100%;
 } */
