.centerimage{
  height:350px;
  margin:0 auto;
  display:block;
  position:relative;
  animation-name: image-animation;
  animation-duration:2s;
  animation-fill-mode: forwards;
}

@keyframes image-animation {
  0% {
    left:-50%;
    opacity:0;
  }
  70% {
    left:0%;
    opacity:1;
  }
  80% {
    transform:scale(1);
  }
  90%{
    transform:scale(1.15);
  }
  100%{
    transform:scale(1);
  }
}

.logoimage{
  height:140px;
  margin:0 auto;
  display:block;
  position:relative;
  /* animation-name: image-animation;
  animation-duration:2s;
  animation-fill-mode: forwards; */
}


.movingdesc{
  color: #3e5070;
  height:50px;
  margin:0 auto;
  display:block;
  position:relative;
  animation-name: desc-animation;
  animation-duration:4s;
  animation-fill-mode: forwards;
  text-align:center;
}


@keyframes desc-animation {
  0% {
    /* left:-500%; */
    opacity:0;
}
  50% {
    left:0%;
    opacity:0;
}
  60% {
    left:0%;
    opacity:0.3;
  }
  80% {
    left:0%;
    opacity:0.7;
  }
}
